body,
html {
  height: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.preview-img {
  width: 900px;
  border-radius: 5%;
  object-fit: cover;
}

.kiwi {
  width: 100%;
  padding: 0;
}
